window {
    font-family: JetBrains Mono, monospace;
    font-size: 12pt;
    color: #cdd6f4; 
    background-color: rgba(17, 17, 27, 0.80);
}

button {
    color: #ced7f4;
    background-color: rgba(30, 30, 46, 0);
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

#lock {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/lock.png"));
}
#lock:focus {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/lock-hover.png"));
}

#logout {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/logout.png"));
}
#logout:focus {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/sleep.png"));
} 
#suspend:focus {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/power.png"));
}
#shutdown:focus {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/power-hover.png"));
}

#reboot {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/restart.png"));
}
#reboot:focus {
    background-image: image(url("/home/xn1c0/.config/wlogout/icons/restart-hover.png"));
}
